body {
    background-color: beige;
    padding: 25px 50px;
}

.box-1 {
    background-color: palevioletred;
    width: 600px;
    height: 200px;
    margin: 25px;
}

.a-1 {
    height: 150px;
    width: 150px;
    background-color: white;
    float: left;
    margin: 25px;
}

.b-1 {
    height: 150px;
    width: 150px;
    background-color: black;
    float: right;
    margin: 25px;
}

.box-2 {
    background-color: skyblue;
    width: 600px;
    height: 400px;
    margin: 25px;
}

.a-2 {
    height: 150px;
    width: 150px;
    background-color: black;
    float: left;
    margin: 25px;
}
.b-2 {
    height: 150px;
    width: 150px;
    background-color: white;
    float: right;
    margin: 25px;
}

.c-2 {
    height: 150px;
    width: 550px;
    background-color: #f4f479;
    float: left;
    margin: 25px;
}

.box-3 {
    background-color: darkseagreen;
    width: 600px;
    height: 300px;
    margin: 25px;
}

.a-3 {
    height: 150px;
    width: 150px;
    background-color: white;
    float: left;
    margin: 25px;
}

p {
    padding: 25px;
    color: white;
}
